.header{
  background-color: #333;
  color: #FFF;
  padding: 3rem 2rem 3.5rem 2rem;
  position: sticky;
  top: 0;
}

.title {
  font-size: 4rem;
  margin: 0;
}

.sub {
  margin: 0;
  font-size: 1.3rem;
}